<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarktApplicatie.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MarktApplicatie.Settings1>
            <setting name="tab1Setting" serializeAs="String">
                <value>Tab 1</value>
            </setting>
            <setting name="tab2Setting" serializeAs="String">
                <value>Tab 2</value>
            </setting>
            <setting name="tab3Setting" serializeAs="String">
                <value>Tab 3</value>
            </setting>
            <setting name="tab4Setting" serializeAs="String">
                <value>Tab 4</value>
            </setting>
            <setting name="tab5Setting" serializeAs="String">
                <value>Tab 5</value>
            </setting>
            <setting name="tab6Setting" serializeAs="String">
                <value>Tab 6</value>
            </setting>
            <setting name="tab7Setting" serializeAs="String">
                <value>Tab 7</value>
            </setting>
            <setting name="tab8Setting" serializeAs="String">
                <value>Tab 8</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stilstaan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightblue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkblue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="darkmodehome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="verdwijnen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkdmon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkdmoff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="msgon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="msgoff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color1check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkdmhome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checklmhome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color2check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="color3check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkspeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="checkfont8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkfont10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkfont12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkfont14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkfont16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkstil" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checklangzaam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checknormaal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checksnel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkverdwijn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </MarktApplicatie.Settings1>
    </userSettings>
</configuration>